body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.theme-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.theme-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.menu-list {
  width: 100%;
  display: flex;
  padding: 0;
  list-style: none;
}

.menu-item {
  text-align: center;

  width: calc(20%);
  box-sizing: border-box;
  flex-shrink: 0;
}

.menu-item:nth-child(2n+2) {
  margin-right: calc(20%);
}

.menu-link {
	color: #000000;
}

.menu-link:hover {
	color: #81b3d2;

}
.menu-link:active {
	opacity: 0.3;
}

.menu-link:not([href]),
.menu-link:not([href]):hover,
.menu-link:not([href]):active {
  color: #766357;
  opacity: 1;
}

.reason {
  text-align: center;
}

.reason-greeting {
  width: 100%;
  height: 600px;
  background-color: #b0e0e6;
  background-image: url("../img/bg/main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.reason-header .theme-title {
	line-height: 26px;
}

.reason-header .theme-text {
  line-height: 26px;
}

.reason-content {
  background-color: #81b3d2;
}

.reason-extended .theme-text,
.reason-extended .theme-title,
.reason-extended .reason-number {
  color: #ffffff;
}

.reason-number {
  font-weight: 400;
}

.less-content {
  background-color: #eeeeee;
}

.feature-list,
.menu-list,
.footer-list,
.sort-list,
.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*----ПРОБНЫЙ ФЛЕКС----*/

.reason-list {
  width: 100%;
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.reason-list:nth-child(1) {
  order: -2;
}

.reason-list:nth-child(2) {

}

.reason-list:nth-child(3) {

}

.reason-list:nth-child(4) {

}

.reason-list:nth-child(5) {

}

.reason-list:nth-child(4) {
  order: -1;
}


/*----КОНЕЦ ФЛЕКСА----*/

.reason-extended .reason-content{
  width: calc(100%/3)
}

.feedback .theme-title {
  font-size: 30px;
  line-height: 36px;
}

.feedback .theme-text {
  line-height: 24px;
}

.search-calendar {
  border: none;
  background-color: transparent;
}

.inline-calendar {
  fill: #cacaca;
}

.inline-calendar:hover {
  fill: #000000;
}

.inline-calendar:active {
  fill: #81b3d2;
}

.search-form {
  font-weight: 700;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 #00010126;
}

.search-input-wrapper .search-input {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: left;

  background-color: #f2f2f2;
  border: solid 2px transparent;
  outline: none;
}

.search-input-wrapper input:hover {
  background-color: #ebebeb;
  border: solid 2px transparent;
}

.search-input-wrapper input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.search .button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}

.modal-search .button:hover {
  background-color: #604e43;
}

.modal-search .button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.search .search-send {
  background-color: #81b3d2;
}

.search .search-send:hover {
  background-color: #669ec0;
}

.search .search-send:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.number {
  background-color: #f2f2f2;
}

.number .number-btn {
  font-size: 0;

  border: none;
  background-color: transparent;
}

.number .person-number {
  border: none;
  background-color: transparent;
}

.map {
  background-color: #dbe5c6;
}

.main-footer {
  text-align: center;
}

.social-list {
  list-style: none;
}

.main-footer .button {
  font-size: 0;
  color: #ffffff;

  background-color: #81b3d2;
}

.main-footer .button:hover {
  background-color: #669ec0;
}

.main-footer .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright-logo {
  font-size: 0;
}

.inline-logo {
  fill: #231f20;
}

.inline-logo:hover {
  fill: #81b3d2;
}

.inline-logo:active {
  fill: #bdbbbc;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

/*-------ОТЕЛИ-------*/

.filter-form {
  color: #ffffff;
  text-align: left;

  background-image: url("../img/bg/filter-bg.jpg");
  background-color: #637b90;
  background-position: top center;
  background-repeat: no-repeat;
}

.range-input {
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.sort {
  text-align: left;
  font-size: 10.5px;
  line-height: 17.5px;
}

.filter-show-btn {
  background-color: transparent;
  border: solid 2px #ffffff;
}

.filter-show-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort .sort-result {
  font-size: 21px;
  font-weight: 700;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.sort-link:hover {
  color: #81b3d2;
   border-bottom: dotted 1px #81b3d2;
}

.sort-link:active {
  color: #000000;
  border: none;
}

.sort-link.active,
.sort-link.active:hover,
.sort-link.active:active {
  color: #81b3d2;
  border: none;
}

.sort-icon .sort-link-step {
  font-size: 0;
  color: #cacaca;
}

.sort-icon .sort-descending {
  color: #81b3d2;
}

.sort-icon .sort-link-step:hover {
  color: #000000;
}

.sort-icon .sort-link-step:active {
  color: #81b3d2;
}

.hotel-picture {
  background-color: #637b90;
}

.hotels .theme-text {
  text-align: left;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.hotel-booking-btn {
  background-color: #766357;
  font-weight: 700;
  color: #ffffff;
}

.hotel-booking-btn:hover {
  background-color: #604e43;
}

.hotel-booking-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-details-btn {
  background-color: #81b3d2;
  font-weight: 700;
  color: #ffffff;
}

.hotel-details-btn:hover {
  background-color: #669ec0;
}

.hotel-details-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rate-text {
  color: #666666;
  text-align: center;
  line-height: 21px;

  background-color: #f2f2f2;
}

.hotel-stars {
  font-size: 0;
}
