body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.menu-list {
	list-style: none;
}

.menu-link {
	color: #000000;
}

.menu-link:hover {
	color: #81b3d2;

}
.menu-link:focus {
	color: rgba(0, 0, 0, 0.3);
}

.menu-link:not([href]){
  color: #766357;
}

.reason-greeting {
  background-color: #B0E0E6;
  background-image: url("../img/bg/main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.reason-header {
  text-align: center;
}

.reason-header .reason-title {
	font-size: 21px;
	line-height: 26px;
}

.theme-text {
  font-weight: 400;
  color: #333333;
}

.reason-header .theme-text {
	color: #333333;
}

.reason {
  text-align: center;
  line-height: 21px;
}
.theme-title{
  font-size: 21px;
}

.reason-extended .reason-content{
  color: #ffffff;
  background-color: #81b3d2;
}
